<!DOCTYPE html>

@import play.mvc.Http.Context.Implicit._

<html>
  <head>
    <title>TREC Incident Streams - Assessment Interface</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <!-- a jQuery UI theme, here I use "flick" -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/flick/jquery-ui.css">

    <script src="@routes.Assets.at("javascripts/vex.combined.min.js")"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vex.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vex-theme-os.css")"/>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.16.0/build/ol.js"></script>

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/default.css")"/>
	</head>

  	<body id="myBody" wsdata="@routes.TRECIS_EventsSelect.ws.webSocketURL(request)" onload="openWebSocketConnection()">

		<div class="container">

		<div class="row">
          <div class="col-md-12">

			<div class="list-group">
  				<div href="#" class="list-group-item active">
    				<h4 class="list-group-item-heading">TREC-IS</h4>
    				<p class="list-group-item-text">v1 Ontology and Keyword Annotator</p>
  				</div>
			</div>
		</div>

		</div>


		<div class="row">
        	<div class="col-md-5">
  					
  						<div class="card">
  						    <h5 class="card-header" id="annotatorIDInfo">Checking annotator ID...</h5>
  						    <button class="btn btn-warning" onclick="writeUserToDisk()">Write Your Data To Disk</button>
  						    <span class="badge badge-primary">Events Labelled So Far</span>
  							<ul class="list-group list-group-flush" id="eventsLabelledSoFar">
    							
  							</ul>
  						</div>
			</div>
			<div class="col-md-7" id="events">
			</div>
         </div>

       <div id="info" style="visibility: hidden" ></div>
       </div>
       
       
       <script type="text/javascript">
       
       var ws;
       var annotatorID = null;
       
       function openWebSocketConnection() {
    	   
    	   var wsURL = document.getElementById("myBody").getAttribute("wsdata");
    	   
           ws = new WebSocket(wsURL);
           ws.onmessage = function (event) {
               var message;
               message = JSON.parse(event.data);
               switch (message.messagetype) {
                   case "init":
                	   annotatorID = message.annotatorID;
                	   document.getElementById("annotatorIDInfo").innerHTML = "Annotator ID: "+annotatorID;
                	   //ws.send(JSON.stringify({
                       //    messagetype: "importDefaultData"
                       //}));
                	   
                	   ws.send(JSON.stringify({
                       	  messagetype: "getUser",
                       	  annotatorID: annotatorID
                   	   }));
                	   ws.send(JSON.stringify({
                          messagetype: "getAllEvents"
                       }));
                   	   break;
                   case "userData":
                	   renderUserData(message);
                   	   break;
                   case "eventList":
                	   renderEvents(message);
                   	   break;
                   default:
                       return console.log(message);
               }
               
               
           };
           
           
           
           
       }
       
       function writeUserToDisk() {
    	   ws.send(JSON.stringify({
            	  messagetype: "writeUserAndAnnotationsToDisk",
            	  annotatorID: annotatorID
        	   }));
       }
       
       function renderUserData(message) {
   	   		var jsonUser = JSON.parse(message.userData);
   	   		
   	   		var eventsAnnotated = jsonUser.eventsAnnotated;
   	   		for ( var i = 0; i < eventsAnnotated.length; i++ ) {
       		
   	   			var event = eventsAnnotated[i];
   	   			
   	   			var li = document.createElement('li');
   	   			li.className = "list-group-item";
				li.innerHTML = event.name;
				
				document.getElementById("eventsLabelledSoFar").appendChild(li);	
   	   		}
       }
       
       function renderEvents(message) {
  	   		var jsonEvents = JSON.parse(message.eventList);
  	   		
  	   		for ( var i = 0; i < jsonEvents.length; i++ ) {
      		
  	   			var event = jsonEvents[i];
  	   			
  	   			var li = document.createElement('div');
  	   			li.className = "card";
				li.innerHTML = "<div onclick=\"openNextPage('"+event.identifier+"')\">"+
				"<h5 class=\"card-header\">"+event.name+"</h5>"+
				"<img style=\"height: 200px; width: 100%; display: block;\" src=\""+event.imageURL+"\" alt=\"Card image\">"+
				"<p class=\"card-text\">"+event.description+"</p>"+
				"</div>";
				
				document.getElementById("events").appendChild(li);	
  	   		}
      }
       
       function openNextPage(identifier) {
    	   window.open("/trecis/annotateEvent?annotatorID="+annotatorID+"&identifier="+identifier,"_self"); 
       }
	   
       </script>
       
       
       </body>

</html>